:root{
    --transition: all 0.8s ease;
    --aqua: #31d6ff;
    --dark: #272a31;
    --white: #fff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}
html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
}
.btn{
    font-size: 12px;
    font-family: Georgia;
    text-transform: uppercase;
    font-weight: 580;
    border: none;
    border-radius: 7px;
    padding: 8px;
    width: 100px;
    display: inline-block;
    margin: 10px 4px;
    cursor: pointer;
    transition: var(--transition);
}
.btn:focus{
    background-color: #65ff65;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5{
    padding: 8px 0;
}

@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}

/* header */
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("images/background.jfif") center/cover no-repeat;

    min-height: 6vh;
    color: var(--white);
    font-size: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-top span{
    cursor: pointer;
    letter-spacing: 2.4px;
    transition: var(--transition);
}
.head-top span:hover{
    color: var(--aqua);
}
.head-bottom{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 45px;
    border-bottom: 2px solid var(--aqua)

}
.head-bottom h5{
    font-family: serif;
    padding: 22px 0;
    font-size: 26px;

}

@media(max-width: 500px){

    .head-bottom h2{
        font-size: 28px;
    }
    .head-bottom p{
        font-size: 17px;
        margin: 20px auto;
    }
}

/* side nav */
.sidenav{
    background: var(--dark);
    color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 300px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}

.sidenav.show{
    right: 0;
}
.cancel-btn{
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);
}
.cancel-btn:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}
.navbar li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 0.5px solid var(--aqua);
    opacity: 0.8;
    letter-spacing: 1.5px;
    transition: var(--transition);
}
.navbar li a:hover{
    padding-left: 12px;
}

@media(max-width: 400px){
    .sidenav{
        width: 100vw;
    }
}

/* booking form */
.book{
    background-color: #272a31;
    color: var(--aqua);
    padding: 20px 70px;
}

.book-form{
    display: grid;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-form label, .book-form input{
    width: 100%;
}
.book-form label{
    font-weight: 600;
    word-spacing: 5px;
    padding-bottom: 8px;
}
.book-form input:not(.btn){
    margin: 4px 0 16px 0;
    padding: 12px 15px;
    border-radius: 7px;
    font-size: 17px;
    border: none;
}
.book-form input:focus{
    outline: 0;
    box-shadow: 0 0 10px var(--aqua);
}
@media(min-width: 768px){
    .book-form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
}
@media(min-width: 1170px){
    .book-form{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1370px){
    .book-form{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
    }
    .book{
        height: 40vh;
        display: grid;
    }
}
@media(max-width: 500px){
    .book{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* room */
.rooms{
    margin: 40px 0;
}
.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background: var(--dark);
    color: var(--white);
}
.room-title h3{
    font-family: Georgia;
    font-size: 26px;
    padding: 20px 10px;
    border-bottom: 2px solid var(--aqua)
}

.room-text{
    padding: 25px 30px;
}
.room-text h4{
    font-family: serif;
    font-size: 28px;
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: var(--aqua);
    margin-right: 10px;
}
.rate{
    opacity: 0.85;
    padding-bottom: 25px;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--aqua);
}
.room-image{
    overflow: hidden;
}
.room-image img{
    transition: var(--transition);
}
.room-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .rooms-container{
        display: flex;
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(40% - 10px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    .room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}

.showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}